
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<style>


    body{


        background-color: gray;

    }



</style>


<body>

    <br>

    <div class="container shadow-md p-5 form-group">
        <h4> <i class="fa fa-smile-o" aria-hidden="true"></i> &nbsp; Welcome, {{user}} </h4>
        <hr>
        <br><br>
        <h4> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Track your orders </h4>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'track-orders' %}"> My orders </a>

        <hr>
        <br><br>

        <h4> <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Manage your account </h4>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> Profile management </a>

        <hr>
        <br><br>

        <h4> <i class="fa fa-truck" aria-hidden="true"></i> &nbsp; Manage shipping </h4>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'manage-shipping' %}"> Manage shipping </a>
        <hr>
    </div>

    <br>




{% endblock %}
